

.x-list-item h3 {
	color: #000000;
	font-size:0.8em;
	margin-bottom: 5px;
	font-weight: bold;
}
.x-list-item h4 {
	color: #8F8F8F;
	margin-bottom: 5px;
	font-size:0.7em;
	font-weight: bold;
}

.x-list-round .x-list-disclosure {
    -webkit-mask-position-y: center;
    height: 100%;
    bottom: 0;
}

.hidden {
	margin-left:-1000em ! important;
}

.home {
	text-align:center
}
.home h1
{
	font-weight:bold;
	font-size:1.2em
}
.home p
{
	color:#666;
	font-size:0.8em;
	line-height:1.6em;
	margin:10px 20px 20px 20px
}
.home h2
{
	color:#999;
	font-size:0.7em
}
.statsList {
	font-size: 14px;
}
.ui-li-count {
	float: right;
}


/* Derek: Added margin-right to the delivered: */
.ui-li-aside { font-size: 14px; float: right; width: 35%; text-align: right; margin: .3em 0; margin-right: 15px;  }


.dd-align-right {
	float: right;
	padding-right: 5px;
}

.dd-pg-title {
	color: #000000;
	font-weight: normal;
	font-family: Helvetica;
	font-size: 20px;
}

.dd-pg-subtitle {
	color: #000000;
	font-weight: normal;
	font-family: Helvetica;
	font-size: 18px;
}

.dd-pos-sym {
	color: #000000;
	font-weight: bold;
	font-size: 14px;
	font-family: Helvetica;
}
.dd-pos-name {
	color: #A1A1A1;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 14px;
}
.dd-per-gain {
	color: #70AE3B;
	font-weight: bold;
	font-size:0.7em;
}
.dd-per-loss {
	color: #f31900;
	font-weight: bold;
	font-size:0.7em;
}

.dd-detail-label {
	font-size:0.7em;
	font-weight:normal;
	padding-right: 2px;
	/* color: #8F8F8F; */
	color: #000000;
	margin-bottom: 5px;
    margin-right: 5px;
}
.dd-detail-data {
	font-weight: normal;
	padding-right: 8px;
	font-size: 12px;
	font-family: Helvetica;
}
.dd-detail-missing {
	font-weight: normal;
	padding-right: 8px;
	font-size: 12px;
	color: #f31900;
	font-family: Helvetica;
}

.dd-last-label {
	color: #000;
	font-weight: bold;
	font-family: Helvetica;
	font-size: 14px;
	padding-right: 2px;
}
.dd-last-data {
	color: #000;
	font-weight: normal;
	font-family: Helvetica;
	font-size: 14px;
}

#myPortfoliosList p {
	margin-top: 2px;
}
#myPortfoliosList label {
	margin-right: 5px;
}

#myPositionsList p {
	margin-top: 2px;
}
#myPositionsList label {
	margin-right: 5px;
}

#myTransactionList p {
	margin-top: 2px;
}

#myTransactionList label {
	margin-right: 5px;
}